<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-heading">Enter a new coupon</h1>
                <form action="/coupon/create" method="post">
                  <input class="form-control" type="text" name="title" value="" placeholder="Coupon Title">
                  <input class="form-control" type="text" name="description" value="" placeholder="a brief description">
                  <input class="form-control" type="text" name="discount_price" value="" placeholder="TYPE A DECIMAL">
                  <input class="form-control" type="text" name="expiration_date" value="" placeholder="Date">
                  <input class="btn btn-danger form-control" type="submit" value="Make Coupon">
                </form>
            </div>
        </div>
    </div>
</section>
