<h2 style="text align: center">Press this button to delete everything</h2>

<form action="account/deleteall" method="post">
  <button class="btn btn-danger" type="submit" value="">Delete all accounts</button>
</form>
<form action="coupon/deleteall" method="post">
  <button class="btn btn-danger" type="submit" value="">Delete all coupons</button>
</form>
